<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'accounts/base.html' %}
    {% block content %}
        <p>Categorizing using {{ category_name }}:</p>
        <form
                action="{% url 'res_owner:categorizing' category_name restaurant_id %}"
                method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <button name="submit_categorizing">Apply</button>
        </form>
    {% endblock content%}
</body>
</html>