<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'registration/base.html' %}
    {% block content %}
        <p>Restaurant: {{ restaurant_name }} <br>
            All foods associating with category {{ category_name }} </p>
        <!--Display all restaurants in an unordered list-->
        <ul>
            <!-- restaurants variable is supposed to be part of the context dictionary! -->
            {% for food in foods %}
                <li>
                    <p>
                        {{ food }}
                    </p>
                    <form action="{% url 'res_owner:edit_food' food.id %}" method="get">
                        <button name="edit_food_button">Edit?</button>
                    </form>
                    <form action="{% url 'res_owner:delete_food' food.id %}" method="post">
                        {% csrf_token %}
                        <button name="delete_food_button">Delete?</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% endblock content %}
    {% block settings %}
    {% endblock settings %}
</body>
    <!-- including settings where you can modify restaurant info and manage order-->
</html>