<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'res_owner/base.html' %}
    {% block content %}
        <p>Edit food {{ food.name }}'s info here:</p>
        <!-- Send the form back to the edit_entry() view function for processing -->
        <form action="{% url 'res_owner:edit_food' food.id %}" method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <button name="edit_res_button">Save changes</button>
        </form>
    {% endblock content %}
</body>
</html>