<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'registration/base.html' %}
    {% block content %}
        <p>All restaurants, but now you can remove/edit/add</p>
        <!--Display all restaurants in an unordered list-->
        <ul>
            <!-- restaurants variable is supposed to be part of the context dictionary! -->
            {% for restaurant in restaurants %}
                <li>
                    <a href="{% url 'res_owner:restaurant' restaurant.id %}">
                        {{ restaurant.name }}
                    </a>
                    <form action="{% url 'res_owner:edit_restaurant' restaurant.id %}" method="get">
                        <button name="edit_res_button">Edit?</button>
                    </form>
                    <!--Button for deleting-->
                    <form action="{% url 'res_owner:delete_restaurant' restaurant.id %}" method="post">
                        {% csrf_token %}
                        <button name="delete_res_button">Delete?</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% endblock content %}
    {% block settings %}
        <hr />
        <form action="{% url 'res_owner:new_restaurant' %}" method="get">
            {% csrf_token %}
            <button name="new_res_button"> Add Restaurant? </button>
        </form>
    {% endblock settings %}
</body>
</html>