<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Quantity</title>
</head>
<body>
    {% extends 'user/base.html' %}
    {% block content %}
    <h1> Edit Quantity</h1>
    {% for message in messages %}
        <a class="close" href="#" data-dismiss="alert">x</a>
           {{ message }}
    {% endfor %}
    <form action="{% url 'user:edit_quantity' food.id %}" method="post">
        {% csrf_token %}
        <label>How many would you like to buy?</label>
        {{ form.as_div }}
        <button name="edit_quantity_button">Save changes</button>
    </form>

    {% endblock content %}
</body>
</html>