<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Settings</title>
</head>
<body>
    {% extends 'user/base.html' %}
    {% block content %}
        <p>Edit account:</p>
        <!-- Send the form back to the edit_entry() view function for processing -->
        <form action="{% url 'user:user_settings' user.id %}" method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <button name="user_settings_button">Save changes</button>
        </form>
    {% endblock content %}
</body>
</html>