<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    {% extends 'user/base.html' %}
    {% block content %}
        <form action="{% url 'user:user_settings' %}" method="post">
            {% csrf_token %}
            <button name="user_settings_button">User Settings</button>
        </form>
        <form action="{% url 'user:search' %}" method="post">
            {% csrf_token %}
            <button name="search_button">Search</button>
        </form>
        <form action="{% url 'user:view_orders' %}" method="post">
            {% csrf_token %}
            <button name="view_orders_button">View Orders</button>
        </form>
    {% endblock content %}
</body>
</html>